<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="bg-primary text-white">
    <main class="container">
        <h1 class="text-center"><strong>Acerca de mi</strong></h1>
        <h2>Que me gusta?</h2>
        <ul>
            <li>Salir con amigos</li>
            <li>Jugar videojuegos</li>
            <li>Jugar basketball</li>
        </ul>
        <h2>Que quiero ser en un futuro?</h2>
        <p>Me gustaria terminar una carrera universitaria siendo ingeniero en sistemas.</p>

        <h2 class="p-3">Gracias por visitar mi página mi nombre es <strong>NOLASCO FLORES JESUS EDUARDO</strong></h2>
    </main>

</body>

</html>