{% extends 'plantilla-base.html' %} {% block title %}Acerca de...{% endblock %}
{% block header %}Acerca de...{% endblock %} {% block contenido %}
<h2>Quien soy?</h2>
<p>
    Soy Nolasco Flores Jesus Eduardo, tengo 15 años años y soy de México,
    actualmente estudio en el cetis 61 la especialidad de programacion.
</p>
<h2>Que me gusta?</h2>
<ul>
    <li>Salir con amigos</li>
    <li>Jugar videojuegos</li>
    <li>Jugar basketball</li>
</ul>
<h2>Que quiero ser en un futuro?</h2>
<p>
    Me gustaria terminar una carrera universitaria siendo ingeniero en sistemas.
</p>

<div class="container text-center">
    <h2 class="p-3">Gracias por visitar mi página </h2>
    {% endblock %}
</div>