<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO 2</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-info ">
    <main class="container">
        <h1 class="text-center">Member Login</h1>
        <form methond="POST" action="">
            <div>
                <div class="col-12 mb-3">
                    <label for="nombre" class="form-label">USERNAME</label>
                    <input type="text" class="form-control" id="nombre" placeholder="USERNAME" required minlength="3">
                </div>
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">password</label>
                <input type="password" class="form-control" id="pass" placeholder="password" required minlength="8">
            </div>
            <button type="submit" class="btn btn-warning  w-100">Login</button>
        </form>
    </main>
</body>

</html>