{% extends 'plantilla-base.html' %}
{% block title %}Las Maravillas del Mundo{% endblock %}
{% block header %}Las Maravillas del Mundo{% endblock %}
{% block contenido %}
            <h2>Que son ?</h2>
            <p>Las 7 Maravillas del Mundo Moderno son un conjunto de monumentos elegidos por su importancia histórica,
            cultural y arquitectónica. Fueron seleccionadas en el año 2007 mediante una votación global organizada por
            la fundación New7Wonders, con el objetivo de destacar las obras más impresionantes creadas por el ser
            humano. Cada una representa una civilización diferente y una época única en la historia de la humanidad:
            desde la imponente Gran Muralla China hasta el místico Machu Picchu en Perú. Estas maravillas no solo
            asombran por su belleza, sino también por el legado que han dejado en la historia del mundo, recordándonos
            la capacidad humana para crear obras extraordinarias que desafían el paso del tiempo.</p>
        <h2 class="text-center p-3">Estas son las 7 maravillas del mundo moderno:</h2>
        <div class="row">
            <div class="col-6 p-3">
                <img src="/static/imagenes/muralla china.jpg" alt="Gran Muralla China" class="img-fluid rounded mb-3">
            </div>
            <div class="col-6 p-3">
                <h3>Gran Muralla China</h3>
                <p>La Gran Muralla China, construida entre los siglos III a.C. y XVII d.C., es una impresionante
                    estructura
                    defensiva que se extiende por más de 21,000 kilómetros a lo largo del norte de China. Originalmente
                    erigida para proteger al imperio chino de invasiones y ataques de tribus nómadas, la muralla está
                    compuesta por muros, torres de vigilancia y fortificaciones que serpentean a través de montañas,
                    desiertos y valles. Más que una simple barrera militar, la Gran Muralla simboliza la resistencia y
                    la
                    ingeniosidad del pueblo chino, siendo un testimonio monumental de su historia y cultura. Hoy en día,
                    es uno de los destinos turísticos más visitados del mundo y un ícono reconocido globalmente.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-3">
                <img src="/static/imagenes/petra city.jpg" alt="Ciudad de Petra" class="img-fluid rounded mb-3">
            </div>
            <div class="col-6 p-3">
                <h3>Ciudad de Petra</h3>
                <p>Petra, la antigua ciudad nabatea tallada en roca, es uno de los sitios arqueológicos más
                    impresionantes
                    del mundo. Ubicada en Jordania, Petra fue un próspero centro comercial y cultural entre Oriente y
                    Occidente. Su famosa fachada, conocida como "El Tesoro", es solo una de las muchas estructuras
                    esculpidas en la roca que se pueden encontrar en este sitio. Petra es un testimonio del ingenio
                    humano y la habilidad arquitectónica de sus habitantes, que aprovecharon la geografía única de la
                    región para construir una ciudad que aún asombra a los visitantes de hoy. En 1985, Petra fue
                    declarada Patrimonio de la Humanidad por la UNESCO y, en 2007, fue elegida como una de las Nuevas
                    Siete Maravillas del Mundo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-3">
                <img src="/static/imagenes/cristo redentor.jpg" alt="Cristo Redentor" class="img-fluid rounded mb-3">
            </div>
            <div class="col-6 p-3">
                <h3>Cristo Redentor</h3>
                <p>El Cristo Redentor, una imponente estatua de Jesucristo con los brazos extendidos, se encuentra
                    majestuosamente
                    en la cima del Cerro del Corcovado en Río de Janeiro, Brasil. Inaugurada en 1931, esta icónica
                    escultura de 30 metros de altura, diseñada por el ingeniero brasileño Heitor da Silva Costa y
                    esculpida por el artista francés Paul Landowski, se ha convertido en un símbolo mundial de la
                    fe,
                    la paz y la hospitalidad brasileña. El Cristo Redentor no solo ofrece una vista panorámica
                    impresionante de la ciudad y sus alrededores, sino que también representa un mensaje de amor y
                    esperanza para millones de personas en todo el mundo. En 2007, fue reconocida como una de las
                    Nuevas
                    Siete Maravillas del Mundo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-3">
                <img src="/static/imagenes/machu picchu.jpg" alt="Machu Picchu" class="img-fluid rounded mb-3">
            </div>
            <div class="col-6 p-3">
                <h3>Machu Picchu</h3>
                <p>Machu Picchu, la antigua ciudad inca situada en lo alto de los Andes peruanos, es uno de los
                    destinos
                    arqueológicos más emblemáticos y misteriosos del mundo. Construida en el siglo XV y redescubierta en
                    1911 por el explorador estadounidense Hiram Bingham, Machu Picchu se caracteriza por sus
                    impresionantes
                    terrazas agrícolas, templos y estructuras de piedra perfectamente talladas que se integran
                    armoniosamente
                    con el paisaje montañoso circundante. Esta ciudadela, que se cree fue un retiro real o un centro
                    religioso, ofrece una visión fascinante de la ingeniería y la cultura inca. En 1983, Machu Picchu
                    fue
                    declarada Patrimonio de la Humanidad por la UNESCO y, en 2007, fue elegida como una de las Nuevas
                    Siete
                    Maravillas del Mundo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-3">
                <img src="/static/imagenes/Chichén Itzá.jpg" alt="Chichén Itzá" class="img-fluid rounded mb-3">
            </div>
            <div class="col-6 p-3">
                <h3>Chichén Itzá</h3>
                <p>Chichén Itzá, una de las ciudades mayas más importantes y mejor conservadas de México, es un
                    impresionante
                    sitio arqueológico ubicado en la península de Yucatán. Fundada alrededor del siglo VI, Chichén Itzá
                    floreció como un centro político, económico y religioso entre los siglos IX y XII. La ciudad es
                    famosa por su arquitectura monumental, que incluye la icónica pirámide de Kukulkán (El Castillo), el
                    Templo de los Guerreros y el Observatorio, entre otros. Estos monumentos reflejan la avanzada
                    ingeniería y el profundo conocimiento astronómico de los mayas. Chichén Itzá fue declarada
                    Patrimonio
                    de la Humanidad por la UNESCO en 1988 y, en 2007, fue reconocida como una de las Nuevas Siete
                    Maravillas del Mundo, atrayendo a millones de visitantes cada año que buscan explorar su rica
                    historia
                    y cultura.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-3">
                <img src="/static/imagenes/Coliseo romano.jpg" alt="Coliseo Romano" class="img-fluid rounded mb-3">
            </div>
            <div class="col-6 p-3">
                <h3>Coliseo Romano</h3>
                <p>El Coliseo Romano, también conocido como el Anfiteatro Flavio, es uno de los monumentos más
                    emblemáticos
                    de la antigua Roma y una de las estructuras más impresionantes del mundo. Construido entre los años
                    70
                    y 80 d.C. bajo el emperador Vespasiano y completado por su hijo Tito, el Coliseo fue diseñado para
                    albergar espectáculos públicos, incluyendo combates de gladiadores, cacerías de animales y
                    representaciones
                    teatrales. Con una capacidad para albergar a más de 50,000 espectadores, esta monumental estructura
                    de
                    piedra y concreto es un testimonio del ingenio arquitectónico romano. A lo largo de los siglos, el
                    Coliseo ha resistido terremotos, saqueos y el paso del tiempo, convirtiéndose en un símbolo
                    perdurable
                    de la grandeza del Imperio Romano. En 2007, fue reconocido como una de las Nuevas Siete Maravillas
                    del
                    Mundo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-3">
                <img src="/static/imagenes/Taj Mahal.jpg" alt="Taj Mahal" class="img-fluid rounded mb-3">
            </div>
            <div class="col-6 p-3">
                <h3>Taj Mahal</h3>
                <p>El Taj Mahal, ubicado en Agra, India, es una de las maravillas arquitectónicas más impresionantes del
                    mundo y un símbolo perdurable del amor eterno. Construido entre 1632 y 1653 por el emperador mogol
                    Shah Jahan en memoria de su esposa favorita, Mumtaz Mahal, este mausoleo de mármol blanco es una
                    obra
                    maestra del arte islámico y la arquitectura mogol. El Taj Mahal combina elementos de diseño persa,
                    turco e indio, y está adornado con intrincados detalles de incrustaciones de piedras preciosas y
                    caligrafía árabe. Rodeado por jardines simétricos y reflejado en un estanque sereno, el Taj Mahal no
                    solo es un testimonio del amor y la devoción, sino también un símbolo de la rica historia cultural
                    de
                    la India. En 1983, fue declarado Patrimonio de la Humanidad por la UNESCO y, en 2007, fue elegido
                    como
                    una de las Nuevas Siete Maravillas del Mundo.</p>
            </div>
        </div>
        <div>

            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/t3pMXnz1r04?si=bwK6MsCJEb9npSyz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

        
        
{% endblock %}        

